body{
  margin: 0;
padding: 0;
}

header{
  background-color:blue ;
  display: flex;
  height: 75px;
  align-items: center;
}

header a{
  height: 100%;
  flex: 20%;
  background-color: brown;
  text-align: center;
  
}

header a img{
  width: 120px;
  height: 70%;
}

nav{
  display: flex;
  
  background-color: aqua;
  flex: 80%;
  padding: 10px;
  justify-content: right;
}

nav p{
  flex: 50%;
}

ul{
  flex: 50%;
  background-color: brown;
  position: relative;
  display: flex;
  list-style: none;
  justify-content: right;
}

ul,li{
  margin: 0;
  padding: 0;
}

ul li{
  flex: 20%;
  justify-content: center;
}

ul li a{
  display: block;
  padding: 2px;
  border: solid 2px rgb(51, 17, 17);
  text-decoration: none;
  background-color: rgb(255, 255, 255);




}
ul li:hover a{
  border: solid 2px rgb(255, 0, 0);
  background-color: rgb(241, 241, 241);
  color: #ff0000;
}
